.product-card {
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 0 6px 12px rosybrown;
    padding: 1rem;
    text-align: center;
    transition: transfrom 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-clickable{
    flex: 1;
}

.product-card:hover {
transform: translatey(-5px);
box-shadow: 0 12px 20px greenyellow;
}
.product-card img {
    width: 100%;
    max-height: 180px;
    object-fit: fill;
    border-radius: 8px;
}
.product-card h3 {
    margin: 0.5rem;
    font-size: 1.1rem;
}
.product-card p {
    margin: 0.25rem 0;
}
.view-details {
    font-size: 0.9rem;
    color: black;
    font-style: italic;

}

.add-cart-btn {
    margin-top: 0.8rem;
    background-color: blue;
    color: antiquewhite;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}
.add-cart-btn:hover {
    background-color: black;
}